<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>点点菜</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>版本</string>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Key</key>
			<string>diandian_version</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>设定</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>打印机必须</string>
			<key>Key</key>
			<string>com.diandain.printer.master</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>机器码</string>
			<key>Key</key>
			<string>diandian_code</string>
			<key>DefaultValue</key>
			<string>ZW001</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>用户名</string>
			<key>Key</key>
			<string>diandian_username</string>
			<key>DefaultValue</key>
			<string>sara</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>sara</string>
			<key>Title</key>
			<string>密码</string>
			<key>IsSecure</key>
			<true/>
			<key>Key</key>
			<string>diandian_password</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>服务器</string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>服务器IP</string>
			<key>Key</key>
			<string>diandian_host</string>
			<key>DefaultValue</key>
			<string>115.28.161.172</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>3000</string>
			<key>Title</key>
			<string>服务器端口</string>
			<key>Key</key>
			<string>diandian_port</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>断网模式</string>
			<key>Key</key>
			<string>diandain_mod</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>Report</string>
</dict>
</plist>
